<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<div class="container">

<h2>Measurement Box Status</h2>

<p>
</p>

<table class="table table-striped">
<tr>
<th>Hostname</th>
<th>Last checkin time (UTC)</th>
<th>Time since last checkin</th>
</tr>
{% for checkin in checkins %}
<tr>
    <td>{{ checkin.hostname }}</td>
    <td>{{ checkin.datetime }}</td>
    <td>{{ checkin.datetime|timesince }}</td>
</tr>
{% endfor %}
</table>

</div>
