<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<div class="container">

<h2>Measurement Box Status</h2>

<p>
</p>

<table class="table table-striped">
<tr>
<th>Hostname</th>
<th>Location</th>
<th>Hardware</th>
<th>Connection Type</th>
<th>Software Version</th>
<th>Last checkin time (UTC)</th>
<th>Time since last checkin</th>
</tr>
{% for checkin in checkins %}
<tr>
    <td>{{ checkin.hostname }}</td>
    <td>{{ checkin.location }}</td>
    <td>{{ checkin.hardware }}</td>
    <td>{{ checkin.connection_type }}</td>
    <td> <a href="https://github.com/StanfordLPNG/diagnostic_box_scripts/commit/{{ checkin.git_head }}">{{ checkin.git_head|slice:":7" }}</a></td>
    <td>{{ checkin.datetime }}</td>
    <td {% if checkin.late %} class="bg-danger" {% endif %} >
    {{ checkin.datetime|timesince }}</td>
</tr>
{% endfor %}
</table>

</div>
